@import "../style/layout/page-header";

:host {
    font-size: 1rem;
}

.page-header {
  @include layout-page-header;
}

.page-contents {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 30px;
}

.page-title {
  margin-right: 15px;
}

button {
  padding-top: 4px;
}
