@import "../../../assets/theme.scss";

.content{
    display: flex;
    flex-direction: row;
}
    

.table-description {
    background-color: $demphasizeColor;
    border: $baseBorder; 
    border-radius: $baseBorderRadius;
    margin-bottom: 10px;
    padding: 10px;
    &:hover {
        background-color: $highlightColor;
    }

}

.selected-table {
    background-color: white;
    &:hover {
        background-color: white;
    }
}

.table-name {
    font-size: $headingTextSize;
    font-weight: bold;
}

.key-description {
    display: flex;
    flex-direction: row ;
    margin-left: 5px; 
}

.key-name {
    width: 55px;
    color: $emphasisTextColor;
}

.error-message {
    background-color: #ffaaaa;
    padding: 10px;
    border: #aa0000 1px solid;
    border-radius: $baseBorderRadius;
}