<div class="page-columns">
  <div class="page-column">
    <app-group title="Create New Container">
      <form novalidate [formGroup]="newContainerForm">
        <div class="select-block">
          <label class="select-label">Image</label>
          <select formControlName="image">
            <option *ngFor="let image of images" [value]="image.tags">{{ image.tags }}</option>
          </select>
          <!-- <button mat-icon-button color='primary' (click)="onSearchImageDisplay()">
            <fa-icon [icon]="['fas', 'search']"></fa-icon>
          </button> -->
        </div>
        <div class="form-line">
          <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput formControlName="name"/>
          </mat-form-field>
        </div>

        <div class="form-line section-margin">
          <label>Environment Variables</label>
          <button mat-button color='primary' (click)="onClickAddEnvironmentVariable()">Add Variable</button>
        </div>
        <div class="form-line" formArrayName="environmentVariables"
             *ngFor="let variable of environmentVariables.controls; let i=index">
          <div [formGroupName]="i">
            <mat-form-field class="map-field">
              <mat-label>Name</mat-label>
              <input matInput formControlName="name"/>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Value</mat-label>
              <input matInput formControlName="value"/>
            </mat-form-field>
          </div>
        </div>

        <div class="form-line section-margin">
          <label>Port Binding</label>
          <button mat-button color='primary' (click)="onClickAddPort()">Add Port</button>
        </div>
        <div class="form-line" formArrayName="ports" *ngFor="let port of ports.controls; let i=index">
          <div [formGroupName]="i">
            <mat-form-field class="map-field">
              <mat-label>Private</mat-label>
              <input matInput formControlName="privatePort"/>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Public</mat-label>
              <input matInput formControlName="publicPort"/>
            </mat-form-field>
          </div>
        </div>

        <div class="form-line section-margin">
          <label>Volume Binding</label>
          <button mat-button color='primary' (click)="onClickAddVolume()">Add Volume</button>
        </div>
        <div class="form-line" formArrayName="volumes" *ngFor="let volume of volumes.controls; let i=index">
          <div [formGroupName]="i">
            <mat-form-field class="map-field field-volume">
              <mat-label>Target (Container)</mat-label>
              <input matInput formControlName="target"/>
            </mat-form-field>
            <mat-form-field class='field-volume'>
              <mat-label>Source (Host)</mat-label>
              <input matInput formControlName="source"/>
            </mat-form-field>
          </div>
        </div>

      </form>
      <div class="button-bar">
        <button mat-button color="primary" (click)="onClickCreateContainer()">Create</button>
        <button mat-button color="primary" (click)="onClickCancel()">Cancel</button>
      </div>
    </app-group>
  </div>
</div>
<!-- <div class="search-image-dialog-background" [hidden]="!displaySearchDialog">
  <div class="search-image-dialog">
    <app-search-image (canceled)="onSearchImageCanceled()" (selected)="onSelectSearchImage($event)"></app-search-image>
  </div>
</div> -->
