@import './shared/style/color/color';

.title {
    background-color: $appHeaderColor;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;;
    font-size: 1.5rem;
}

.app-menu {
  margin-top: 30px;
}
