
:host {
    font-size: 1rem;
}

.group-width {
    max-width: 400px;
}


.button-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.error {
    color: red;
    margin: 5px;
    margin-bottom: 10px;
}