.database-page {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.database-table {
  position: absolute;
  left: 280px;
  right: 20px;
  height: 100%;
}

.database-navigation {
  height: 100%;
  width: 250px;
}

.navigation-tree {
  overflow: auto;
}
